<div >
    <header class="jumbotron">
      <h3>
        <strong>My Policy</strong> 
      </h3>
    </header>
    <ngb-alert #selfClosingAlert *ngIf="successMessage && !errorMessage"  type="success" (closed)="successMessage = ''">{{ successMessage }}
    </ngb-alert>
    <ngb-alert #selfClosingAlert *ngIf="errorMessage && !successMessage"  type="danger" (closed)="successMessage = ''">{{ errorMessage }}
    </ngb-alert>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="!policies?.length">
      No policies are assigned to you ..
    </div>
    <div>
      <div class="row">
        <div class="col-4" *ngFor="let policy of policies ">
          <div class="card text-center">
            <div class="card-header">
             {{ policy.policyName }}
            </div>
            <div class="card-body">
              <table class="table table-bordered" >   
                  <tr>
                    <th scope="col">Policy ID</th>
                    <td class="card-title">{{ policy.policyId }}</td>
                  </tr>   
                    <tr>
                      <th scope="col">Premium Amount</th>
                      <td class="card-text">{{ policy.premium }}</td>
                    </tr>
                    <tr>
                      <th scope="col">Sum Assured Amount</th>
                      <td class="card-text">{{ policy.sumAssured }}</td>
                    </tr>
                    <tr>
                    <th scope="col">Years</th>
                    <td class="card-text">{{ policy.years }}</td>
                  </tr>
              </table>
            </div>
            <div class="card-footer text-muted">
              <button
                
              type="button" class="btn btn-outline-primary btn-sm float-left "
                (click)="openModal(viewProfileModal, policy)"
                >View details</button
              >
              <button type="button" class="btn btn-outline-danger btn-sm float-right" 
              (click)="deRegisterModal(deregisterModal, policy)"
              >De-register</button> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #deregisterModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="deletePolicyLabel">Delete Policy Alert !</h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss()"
            >
              Close
            </button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
          </div>
      </div>
    </ng-template>
    
    <ng-template #viewProfileModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="viewProfileLabel">Policy Details</h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        <form [formGroup]="viewProfileForm">
          
          <div class="form-group row">
            <label for="policyId" class="col-sm-4 col-form-label">Policy ID</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="policyId"
                id="policyId"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="policyName" class="col-sm-4 col-form-label">Policy Name</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="policyName"
                id="policyName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="policyType" class="col-sm-4 col-form-label">Policy Type</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="policyType"
                id="policyType" 
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <textarea
                type="text"
                class="form-control"
                formControlName="description"
                id="description" 
                rows="6"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="sumAssured" class="col-sm-4 col-form-label">Sum Assured Amount</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="sumAssured"
                id="sumAssured" 
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="premium" class="col-sm-4 col-form-label">Premium Amount</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="premium"
                id="premium" 
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="years" class="col-sm-4 col-form-label">Years</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="years"
                id="years" 
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss()"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </ng-template>
    